@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'stratum2';
    src: url('./assets/fonts/stratum2-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'stratum2';
    src: url('./assets/fonts/stratum2-medium-webfont.woff') format('woff');
    font-weight: medium;
    font-style: medium;
}

@font-face {
    font-family: 'stratum2';
    src: url('./assets/fonts/stratum2-regular-webfont.woff') format('woff');
    font-weight: regular;
    font-style: regular;
}