@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
    font-family: 'stratum2';
    src: url('./assets/fonts/stratum2-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'stratum2';
    src: url('./assets/fonts/stratum2-medium-webfont.woff') format('woff');
    font-weight: medium;
    font-style: medium;
}

@font-face {
    font-family: 'stratum2';
    src: url('./assets/fonts/stratum2-regular-webfont.woff') format('woff');
    font-weight: regular;
    font-style: regular;
}

.custom-button {
    position: relative;
    text-decoration: none;
    color: inherit;
    /* Keep the original color */
}

.custom-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -8px;
    left: 50%;
    background-color: #ffffff;
    transition: width 0.3s ease, left 0.3s ease;
}

.custom-button:hover {
    color: #ffffff;
    /* Change color on hover */
}

.custom-button:hover::after {
    width: 100%;
    left: 0;
}


.dropdown-content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}

.dropdown-content.open {
    height: auto;
}